* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 11pt;
  font-family: sans-serif;
}

body,
html {
  height: 100%;
}

div.layout {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  grid-template-rows: 100vh;
  @include small {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

main {
  display: flex;
  justify-content: center;
  // align-items: center;
  height: 100%;
  width: 100%;
}

p {
  margin-bottom: 0;
}

header {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

#nav {
  margin: 2rem;
  @include small {
    margin: 1rem;
  }
  .nav-links {
    ul {
      list-style-type: none;
      li {
        margin-bottom: 0;
      }
    }
  }
  @include small {
    max-height: 10vh;
  }
}

div.rich-text {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding: 2rem 2rem 2rem 0;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-family: sans-serif;
    font-weight: bold;
  }
  h3 {
    font-size: 1.1rem;
  }
  p {
    font-family: sans-serif;
  }
}

div.scroll-gallery {
  height: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;

  div.image-wrapper {
    margin: 2rem 2rem 2rem 0;
    height: 90%;
    width: auto;
    display: flex;
    flex-direction: row;
    img {
      margin-bottom: 0;
      width: auto;
      height: 90vh;
    }
    .image-info {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      min-width: 20vw;
    }
  }
}

div.single-image-gallery {
  height: 90%;
  width: 100%;
  margin: 2rem 2rem 2rem 0;
  display: grid;
  grid-template-columns: 2fr .75fr;
  grid-template-rows: 90vh;
  @include small {
    // height: 75vh;
    margin: 1rem;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .image-and-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    @include small {
      height: 80vh;
    }
  }
  div.image-wrapper {
    max-height: 90%;
    height: 90%;
    @include small {
      height: auto;
      margin: auto;
    }
    width: auto;
    @include small {
      padding-bottom: 1.5rem;
    }
    img {
      margin-bottom: 0;
      width: auto;
      height: 100%;
      z-index: 0;
      position: relative;
    }

    .image-info {
      margin-left: 1rem;
      line-height: 1.2rem;
      min-width: 20%;
      z-index: 999;
      border: 1px dotted black;
      background-color: rgba(255, 255, 255, 0.7);
      position: absolute;
      padding: 10px;
      bottom: 17%;
      visibility: hidden;
      &.show {
        visibility: visible;
      }
    }
  }
}

div.home-gallery {
  width: 100%;
  height: 100%;
  overflow: hidden;
  div.image-wrapper {
    display: flex;
    margin: 2rem 2rem 2rem 0;
    @include small {
      margin: 1rem;
      justify-content: center;
    }
    img {
      margin-bottom: 0;
      width: 75%;
      @include small {
        width: 100%;
      }
      height: auto;
    }
    .image-info {
      display: none;
    }
  }
}

.image-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 25%;
  width: 25%;
  margin-top: 1rem;
  @include small {
    width: 50vw;
    max-width: 50vw;
  }
}

div.single-image-gallery div.rich-text {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 90%;
    p {
      margin-bottom: .5rem ;
    }
    @include small {
      height: 100%;
      max-height: 300%;
      margin-top: 3rem;
      padding-right: 0;
      overflow: visible;
    }
}

img.loading {
  width: auto;
  height: 100%;
}