* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 11pt;
  font-family: sans-serif;
}

body,
html {
  height: 100%;
}

div.layout {
  display: grid;
  grid-template-columns: 1fr 3.5fr;
  grid-template-rows: 100vh;
  width: 95vw;
  @include small {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    width: 100vw;
  }
}

main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 33vh;
  @include ipad-portrait {
    grid-template-columns: 1fr 1fr;
  }
  @include small {
    height: auto;
    width: 100vw;
    grid-template-columns: 1fr;
  }
}

.image-display {
  padding: 2rem;
  grid-row: 1 / span 3;

  @include ipad-portrait {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    height: 55vh;
  }
  @include small {
    grid-column: 1 / 1;
    grid-row: 1 / span 2;
    padding: 0 1rem;
    height: 60vh;
  }
  @include x-small {
    height: 55vh;
  }
}

.imagenav-and-info {
  grid-column: 2 / 2;
  padding: 2rem 0;
  @include ipad-portrait {
    grid-column: 1 / span 2;
    grid-row: 3 / 3;
    padding: 0 3rem;
    height: 20vh;
  }
  @include small {
    grid-column: 1 / 1;
    grid-row: 3 / 3;
    height: 30vh;
    padding: 1rem;
  }
  @include x-small {
    height: 30vh;
  }
}

.project-description {
  grid-column: 2 / 2;
  grid-row: 2 / span 2;
  overflow: scroll;
  @include ipad-portrait {
    grid-column: 1 / span 2;
    grid-row: 4 / 4;
  }
  @include small {
    grid-column: 1 / 1;
    grid-row: 4 / 4;
  }
}

p {
  margin-bottom: 0;
}

header {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  @include small {
    margin-bottom: 0;
  }
}

#nav {
  margin: 2rem;
  @include small {
    margin: 1rem;
  }
  .nav-links {
    height: 30vh;
    ul {
      position: absolute;
      list-style-type: none;
      width: 18vw;
      li {
        margin-bottom: 0;
        display: inline-block;
        width: 100%;

        a { 
          display: inline-block;
          width: 100%;
        }
      }
    }
  }

  @include small {
    .nav-links {
      z-index: 1;
      position: fixed;
      display: flex;
      flex-direction: column;
      height: auto;
      width: 93%;
      background-color: white;
      box-shadow: 2px 2px 0;
      margin-top: 3vh;
      &.hidden {
        display: none;
      }
      .project-links,
      .other-links {
        position: static;
        width: initial;
        margin: 0;
        li {
          border: 1px dotted #000;
          padding: 0 5px;
        }
      }
    }
  }
  .other-links {
    margin-top: 30vh;
  }
  @include small {
    max-height: 10vh;
  }
}

.project-description {
  border: 1px dotted black;
  margin-bottom: 2rem;
  @include small {
    border: none;
  }
}

div.rich-text {
  font-family: sans-serif;
  overflow-y: scroll;
  padding: 0;
  margin: 8px 8px 0 8px;
  line-height: 1.2rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-family: sans-serif;
    font-weight: bold;
  }
  h3 {
    font-size: 1.1rem;
  }
  p {
    font-family: sans-serif;
    margin-bottom: 8px;
  }
  @include small {
    padding: 1rem;
  }
}

div.home-gallery {
  overflow: hidden;
  grid-column: 1 / span 2;
  grid-row: 1 / span 3;
  img {
    margin: 2rem;
    width: auto;
    height: 90%;
    @include small {
      margin: 1rem;
      justify-content: center;
      height: auto;
      width: 92%;
    }
    img {
      margin-bottom: 0;
      height: 100%;
      width: auto;
      @include small {
        width: auto;
        max-height: 100%;
      }
    }
    .image-info {
      display: none;
    }
  }
}

.image-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include small {
    margin-top: 1rem;
    padding: 0;
    margin: auto;
  }
}

div.cv {
  grid-column: 1 / span 2;
  grid-row: 1 / span 3;
  overflow-y: scroll;
}

div.carousel {
  height: 400px;
  width: 550px;
  @include small {
    height: 550px;
    width: 89vw;
    margin: auto;
  }
  li {
    @include small {
      height: 70vh;
    }
  }
}

h3.image-title {
  margin-top: 24px;
  margin-bottom: 0;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 1rem;
  @include small {
    font-size: .9rem;
    margin-top: 16px;
    line-height: 1rem;
  }
}

.title {
  font-style: italic;
  font-weight: bold;
}

p.medium {
  line-height: 1.2rem;
  width: 75%;
  margin-bottom: 8px;
  font-size: 0.9rem;
  @include small {
    width: 100%;
    font-size: 0.8rem;
    line-height: 1rem;
    margin-bottom: 4px;
  }
}

p.size {
  line-height: 1.2rem;
  width: 75%;
  margin-bottom: 8px;
  font-size: 0.9rem;
  @include small {
    font-size: 0.8rem;
    line-height: 1rem;
    margin-bottom: 4px;
  }
}

.year {
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  margin-bottom: 8px;
  @include small {
    font-size: 0.8rem;
    line-height: 1rem;
    margin-bottom: 4px;
  }
}

.gatsby-image-wrapper {
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 1.2em;
  margin-top: 1em;
}

a {
  box-shadow: none;
}

header.header-title {
  font-size: 1.1em;
  position: absolute;
  a {
    border: black 1px dotted;
    box-shadow: 2px 2px 0px;
    padding: 0.4em;
    white-space: nowrap;
    background-color: white;
    z-index: 1;
    text-decoration: none;
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
}

.header-title:hover {
  font-size: 1.2em;
}

button.drop-down-button {
  background-color: #fff;
  border: 1px dotted #000;
  -webkit-box-shadow: 2px 2px 0;
  box-shadow: 2px 2px 0;
  margin-bottom: 1em;
  padding: 0 5px;
  height: 100%;
  font-size: 1.1em;
  font-weight: 700;
  visibility: hidden;
  @include small {
    visibility: visible;
    margin-left: auto;
    margin-bottom: 0;
  }
}

div.image-nav button {
  width: 30px;
  @include small {
    width: 30px;
    height: 30px;
  }
  border: black 1px dotted;
  background-color: transparent;
  &:hover {
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 2px 0px;
  }
  &:disabled {
    &:hover {
      font-weight: normal;
      cursor: auto;
      box-shadow: none;
    }
  }
}

.project-links {
  margin-bottom: 4em;
}

.project-links li a,
.other-links li a {
  text-decoration: none;
  border: none;
  color: black;
}

ul {
  list-style: none;
  list-style-position: outside;
}

.post-list,
.page-list {
  margin-top: 6em;
}

li {
  text-indent: 0;
  padding-left: 0;
  list-style: none;
}

li:hover {
  list-style-type: none;
  font-size: 1.1em;
  text-decoration: none;
  border: black 1px dotted;
  box-shadow: 2px 2px 0px;
  a {
    padding-left: 0.2em;
  }
}

.cv p {
  margin: 0;
}

.cv h4 {
  margin-top: 1em;
}

::-webkit-scrollbar {
  width: 1rem;
  height: 2vh;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background: white;
  border: 1px dotted black;
}

.dropdown-menu {
  background-color: white;
  border: 1px dotted #000;
  box-shadow: 2px 2px 0;
}

.name-and-dropdown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 4em;
  @include small {
    margin-bottom: 0;
  }
}

pre {
  margin: 4rem 1rem;
}



.hidden {
  @include small {
    display: none;
  }
}